{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block styles %}
{{ block.super }}
<style>
    form {
        max-width: 600px;
        margin: auto;
    }
    #id_description {
        height: 130px;
    }
</style>
{% endblock styles %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="font-weight-bold mb-5">Add new project</h2>
    {% for field in form.visible_fields %}
    <div class="mb-5">
        <div class="small text-muted font-weight-bold text-uppercase mb-3">{{field.label}}</div>
        <div>{{field}}</div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-pink w-100">Submit</button>
</form>
{% endblock content %}