@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

body, html {
    font-family: Montserrat;
    font-size: 13px;
    overflow-x: hidden;
}

a, a:hover {
    color: #212529;
    text-decoration: none;
}

div.page-container {
    max-width: 1340px;
    margin: auto;
    padding: 0 10px;
    margin-bottom: 50px;
}

nav.navbar {
    margin-right: -13px;
    margin-left: -13px;
    margin-bottom: 30px;
}

[alt='logo']{
    height: 30px;
    width: auto;
}

input.form-control, textarea.form-control{
    background: #E8E8E8;
    color:#8B8B8B;
    outline: none;
    border: none;
    border-radius: 5px;
}

.navbar li.nav-item {
    font-weight: 700;
    margin-right: 50px;
}

.navbar-light .navbar-nav .nav-link {
    color: #282828;
}

.btn {
    border-radius: 5px;
}

.btn-pink {
    background: #DE3163;
    font-weight: 600;
    color: white;
}

.btn-pink-white {
    color: #DE3163;
    font-weight: 600;
    background: white;
    border: 2px solid white;
}
.btn-pink-white:hover {
    background: #DE3163;
    font-weight: 600;
    color: white;
    border: 2px solid #DE3163;
}
.btn-outline-white {
    font-weight: 600;
    color: white;
    background: none;
    border: 2px solid white;
}
.btn-outline-white:hover {
    color: #282828;
    font-weight: 600;
    background: white;
}
.btn-dark {
    font-weight: 600;
    color: white;
    background: #282828;
}
.btn-dark:hover {
    color: white;
    font-weight: 600;
    background: #5a5a5a;
}


.title {
        font-size: 1.1rem;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 30px;
    }